html, body { 
	margin:0px; 
	padding:0px; 
	background-color:#202020; 
	color:white;
	overflow:hidden;
	height: 100vh;
	width: 100vw;
}

screen{
	display:flex;
	flex-direction:column;
}

header {
	width: 100%;
	height: 1.5em;
	background-color:#F0F0F0;
	color:black;
	flex-shrink:0;
}

footer{
	width: 100%;
	height: 1.5em;
	background-color:#F0F0F0;
	color:black;
	flex-shrink:0;
}

main {
}
.mainboard{
	flex-grow:1;
	display: flex;
}

.centering{
	display: flex;
}
.sidespace{
	flex-grow: 1;
}
.tblcapt{
	text-align: left;
	max-width: 40vw;
}
.tbltext{
	text-align: left;
}
.tblnum{
	text-align: right;
}
.tblstar{
	white-space:nowrap;
}
.tbltool{
}

.workspace {
}
