html, body { 
	margin:0px; 
	padding:0px; 
	background-color:#202020; 
	color:white;
	overflow:hidden;
	height: 100vh;
	width: 100vw;
}

screen{
	display:flex;
	flex-direction:column;
}

header {
	width: 100%;
	height: 1.5em;
	background-color:#F0F0F0;
	color:black;
	flex-shrink:0;
}

footer{
	width: 100%;
	height: 1.5em;
	background-color:#F0F0F0;
	color:black;
	flex-shrink:0;
}

main {
}
.mainboard{
	flex-grow:1;
	display: flex;
}

.centering{
	display: flex;
}
.sidespace{
	flex-grow: 1;
}
.tblcapt{
	text-align: left;
	max-width: 40vw;
}
.tbltext{
	text-align: left;
}
.tblnum{
	text-align: right;
}
.tblstar{
	white-space:nowrap;
}
.tbltool{
}

.langslect{
	text-align:center;
}

.systemlist {
	color:white;
	background-color:#202020; 
	flex-shrink:0;
	overflow-y: auto;
	max-height: calc(100vh - 5em);
}
.systemview {
	flex-grow:1;
	overflow-y: auto;
	max-height: calc(100vh - 3em);
}
.screenshots {
	flex-grow:1;
	overflow-y: auto;
	max-height: calc(100vh - 3em);
}
.gamelist{
	margin-left:auto;
	margin-right:auto;
	margin-top:1.5em;
	
}
.workspace {
}

.homeview{
	color:white;
	background-color:#202020; 
	text-align:center;
}
.currentgame{
	margin-top: 1.5em;
	border: ridge;
	font-size:150%;
}

.audiohead {
	flex-shrink:0;
	width: 99%;
	height: 6em;
}
.audioctrl {
	flex-grow:1;
}
.music_title{
	font-size:150%;
}
.music_play{
}
.music_opt{
}
.music_list{
	max-height: calc(100vh - 3em - 6em);
}
.music_listed{
}
.music_current{
	background-color:#005070; 
}
.music_mode_on{
	background-color:#aaffff;
}
.music_mode_off{
}

.imageviewer {
	text-align:center;
	display:flex;
	flex-direction:column;
}

.imagehead {
	flex-shrink:0;
	width: 99%;
	height: 3.5em;
}
.imagetool {
	display:flex;
}
.imagectrl {
	flex-grow:1;
	font-size:150%;
}
.imagebtns {
}
.imagebtn {
	font-size:200%;
}
.imageview {
	flex-grow:1;
	overflow: scroll;
	max-height: calc(100vh - 3em - 3.5em);
}
.imagedir {
	flex-shrink:0;
}
.imagecanvas {
	border:groove;
}
.ssmode_on{
	font-size:150%;
	background-color:#aaffff;
}
.ssmode_off{
	font-size:150%;
}

.gamelist {
	color:white;
	background-color:#202020; 
	text-align:center;
}
.gameview{
	color:white;
	background-color:#202020; 
	text-align:center;
}
.genreeditor {
	flex-grow:1;
	max-height: calc(100vh - 3em);
	overflow-y: scroll;
	color:white;
	background-color:#202020; 
	text-align:center;
}
.genretree {
	font-size:200%;
}
.metaeditor {
	flex-grow:1;
	max-height: calc(100vh - 3em);
	overflow-y: scroll;
	color:white;
	background-color:#202020; 
	text-align:center;
}
.mediatray {
}
.mediaviewer {
	flex-grow:1;
	max-height: calc(100vh - 3em);
	overflow-y: scroll;
	color:white;
	background-color:#202020; 
	text-align:center;
}
.doclist {
	flex-grow:1;
	max-height: calc(100vh - 3em);
	overflow-y: scroll;
	color:white;
	background-color:#202020; 
	text-align:center;
}

.cardgroup{
	color:white;
	background-color:#202020; 
	text-align:center;
}
.card_others{
	border:outset;
	background-color:#777777; 
	color:black;
}
.card_selected{
	border:inset;
	background-color:#444444; 
	color:white;
}

.genregroup{
	line-height:1.8em;
	word-break:keep-all;
}
.genre_off{
	border:outset;
	background-color:#777777; 
	color:white;
	padding:0.2em;
	white-space:nowrap;
	font-size:100%;
}
.genre_on{
	border:inset;
	background-color:#cccc44; 
	color:#444466;
	padding:0.2em;
	white-space:nowrap;
	font-size:100%;
}

.btn_normal{
}
.btn_runnable{
	background-color:#aaffff;
}
.btn_kidgame{
	background-color:#aaffaa;
}
.btn_favorite{
	background-color:#ffdd00;
}
.btn_hidden{
	background-color:#444444;
}

.imgframe{
	border:ridge;
	overflow:auto;
}
.metatextbox{
	width:65vw;
}
.metatextarea{
	width:65vw;
	height:5em;
	overflow:scroll;
}

.gamethumb{
	max-width:60vw;
}

.homecaption{
	font-size:300%;
}
.secondcaption{
	font-size:150%;
}
.curgamecaption{
	font-size:100%;
	padding-bottom:0.5em;
}
.systemcaption{
	font-size:150%;
}
.gamecaption{
	font-size:200%;
}
.editorcaption{
	font-size:300%;
}
.mediacaption{
	font-size:150%;
}
.instanterror{
	color:#ff6666;
}
.systemicon{
	max-width:60vw;
	max-height:10vh;
	font-size:350%;
}

.toolbar {
	background-color:#304070FF;
}

.toolbarbutton {
	color:white;
	background-color:#304070FF;
	border:none;
	font-size:12pt;
	padding:6px 8px;
	cursor: pointer;
}


.toolbarbutton:hover {
	background-color:#405080FF;
}

.system:hover {
	background-color:#303030;
}

.gamelist {	
	color:white;
	background-color:#202020; 
	overflow-y:scroll;
}

.game:hover {
	background-color:#303030;
}

.desc { 
	color:#A0A0A0; 	
	font-size:8pt;
	text-overflow: ellipsis;
	overflow: hidden;
	height:22pt
}

.playitBtn {
	background-color: #808080;
	cursor: pointer;
	font-size: 0.9em;
	
	border: solid 1px #303030;
	padding: 3px 8px;
	border-radius: 4px;
}

.playitBtn:hover {
	background-color: #909090;
}

.playitBtn:active {
	background-color: #606060;
}
